numpy
pandas
scikit-learn
scipy
matplotlib
seaborn

lightgbm
xgboost
tsfresh

imbalanced-learn
joblib


# tensorflow
# torch
# torchvision


jupyterlab
notebook


django
djangorestframework
django-cors-headers
requests
pillow
python-decouple
python-dotenv